.list-item{
list-style-type:none;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
margin-top:10px;
}

.del-btn{
    background-color:red;
    border:none;
    border-radius:3px;
    height:25px;
    padding:5px;
    color:white;
}
.activity{
    background-color:yellowgreen;
    color:white;
    width:350px;
    
}